In [3]:
# Step 1: Load and inspect the data
import pandas as pd

# Load the CSV file with the correct encoding
df = pd.read_csv(r"C:\Users\dell\Downloads\sales_data_sample.csv", encoding='Windows-1252')

# Inspect the head and info
df_head = df.head()
df_info = df.info()

print(df_head)
# info() prints automatically

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...
1    5/7/2003 0:00  Shipped       2         5     2003  ...
2    7/1/2003 0:00  Shipped       3         7     2003  ...
3   8/25/2003 0:00  Shipped       3         8     2003  ...
4  10/10/2003 0:00  Shipped       4        10     2003  ...

                    ADDRESSLINE1  ADDRESSLINE2           CITY STATE  \
0        897 Long Airport Avenue           NaN            NYC    NY
1             59 rue de l'Abbaye           NaN          Reims   NaN
2  27 rue du Colonel Pierre Avia           NaN          Paris   NaN
3             78934 Hillside Dr.           NaN       Pasadena    CA
4                7734 Strong St.           NaN  San Francisco    CA

  POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0      10022     USA       NaN              Yu             Kwai    Small
1      51100  France      EMEA         Henriot             Paul    Small
2      75508  France      EMEA        Da Cunha           Daniel   Medium
3      90003     USA       NaN           Young            Julie   Medium
4        NaN     USA       NaN           Brown            Julie   Medium

[5 rows x 25 columns]

In [4]:
# Step 2: Clean the data
# 1. Handle missing values
missing_summary = df.isnull().sum()

# 2. Remove duplicate rows
initial_shape = df.shape
cleaned_df = df.drop_duplicates()
removed_duplicates = initial_shape[0] - cleaned_df.shape[0]

# 3. Standardize text values (example: COUNTRY, STATUS, DEALSIZE)
# Lowercase and strip spaces for text columns
for col in ['COUNTRY', 'STATUS', 'DEALSIZE', 'PRODUCTLINE', 'CUSTOMERNAME', 'CITY', 'STATE', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME']:
    if col in cleaned_df.columns:
        cleaned_df[col] = cleaned_df[col].astype(str).str.strip().str.lower()

# 4. Convert date formats to consistent type (ORDERDATE)
cleaned_df['ORDERDATE'] = pd.to_datetime(cleaned_df['ORDERDATE'], errors='coerce')

# 5. Rename columns to be clean and uniform
cleaned_df.columns = [c.strip().lower().replace(' ', '_') for c in cleaned_df.columns]

# 6. Check and fix data types
# Convert numeric columns
for col in ['quantityordered', 'priceeach', 'orderlinenumber', 'sales', 'qtr_id', 'month_id', 'year_id', 'msrp', 'postalcode']:
    if col in cleaned_df.columns:
        cleaned_df[col] = pd.to_numeric(cleaned_df[col], errors='coerce')

# Save cleaned data and summary
cleaned_df.to_csv('sales_data_sample_cleaned.csv', index=False)

# Create a README summary
readme_text = '''
Data Cleaning Summary:
- Handled missing values (see missing_summary below).
- Removed ''' + str(removed_duplicates) + ''' duplicate rows.
- Standardized text columns to lowercase and stripped spaces.
- Converted ORDERDATE to datetime format.
- Renamed columns to lowercase with underscores.
- Ensured numeric columns have correct types.

Missing values per column (after cleaning):
''' + str(cleaned_df.isnull().sum()) + '''
'''
with open('sales_data_sample_cleaned_README.txt', 'w') as f:
    f.write(readme_text)

# Show cleaned head and summary
print(cleaned_df.head())
print(readme_text)

   ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

   orderdate   status  qtr_id  month_id  year_id  ...  \
0 2003-02-24  shipped       1         2     2003  ...
1 2003-05-07  shipped       2         5     2003  ...
2 2003-07-01  shipped       3         7     2003  ...
3 2003-08-25  shipped       3         8     2003  ...
4 2003-10-10  shipped       4        10     2003  ...

                    addressline1  addressline2           city state  \
0        897 Long Airport Avenue           NaN            nyc    ny
1             59 rue de l'Abbaye           NaN          reims   nan
2  27 rue du Colonel Pierre Avia           NaN          paris   nan
3             78934 Hillside Dr.           NaN       pasadena    ca
4                7734 Strong St.           NaN  san francisco    ca

  postalcode country territory contactlastname contactfirstname  dealsize
0    10022.0     usa       nan              yu             kwai     small
1    51100.0  france      emea         henriot             paul     small
2    75508.0  france      emea        da cunha           daniel    medium
3    90003.0     usa       nan           young            julie    medium
4        NaN     usa       nan           brown            julie    medium

[5 rows x 25 columns]

Data Cleaning Summary:
- Handled missing values (see missing_summary below).
- Removed 0 duplicate rows.
- Standardized text columns to lowercase and stripped spaces.
- Converted ORDERDATE to datetime format.
- Renamed columns to lowercase with underscores.
- Ensured numeric columns have correct types.

Missing values per column (after cleaning):
ordernumber            0
quantityordered        0
priceeach              0
orderlinenumber        0
sales                  0
orderdate              0
status                 0
qtr_id                 0
month_id               0
year_id                0
productline            0
msrp                   0
productcode            0
customername           0
phone                  0
addressline1           0
addressline2        2521
city                   0
state                  0
postalcode           541
country                0
territory              0
contactlastname        0
contactfirstname       0
dealsize               0
dtype: int64